.SideBar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    transition: width 0.3s
}

.switcher {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px; 
}

.link {
    display: flex;
    align-items: center;
    margin: 0 0 10px;

    svg {
        margin: 0 10px 0 0;
        fill: var(--inverted-primary-color)
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switcher {
        flex-direction: column;
    }

    .links {
        align-items: center;
        margin: 0;
    }

    .link {
        span {
            display: none;
        }

        svg {
            margin: 0;
        }
    }
}
